@use 'styles/_mixins' as *;

.header {
  display: flex;
  justify-content: space-between;

  @include tabletMax {
    flex-direction: column;
  }
}

.usersGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: 16px 0;

  @include tabletMax {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}
