$natural-1: #1d1d1d;
$natural-2: #2f2f2f;
$natural-3: #747474;
$natural-4: #a6a6a6;
$natural-5: #d9d9d9;
$natural-6: #ebebeb;
$natural-7: #f5f5f5;
$natural-8: #fff;
$cyber-yellow-1: #ffcf08;
$cyber-yellow-2: #e5b900;
$cyber-yellow-3: #cca500;
$cyber-yellow-4: #ffec99;
$cyber-yellow-5: #fff5cc;
$antique-white-1: #faefdc;
$antique-white-2: #fffbf3;
$brand-1: #ff3000;
$brand-2: #e62b00;
$brand-3: #cc2600;
$system-warning-1: #e81c00;
$system-warning-2: #cc1800;
$system-warning-3: #b31500;
$success: #007470;

// neutral colors
$neutral-white-001: #fff;
$neutral-white-002: #ffffff33;
$neutral-white-003: #ffffff66;
$neutral-white-004: #ffffff1a;
$neutral-white-005: #ffffff99;
$neutral-white-006: #ffffffbf;
$neutral-black-001: #1d1d1d;
$neutral-black-002: #000000bf;
$neutral-black-003: #00000080;
$neutral-black-004: #0000001a;
$neutral-grey-001: #86959d;
$neutral-grey-002: #c8d2d7;
$neutral-grey-003: #393f44;
$neutral-grey-004: #a4adb2;
$neutral-grey-005: #f0f4f5;
$neutral-grey-006: #868686;
$neutral-beige-001: #faefdc;

// colorful colors
$colorful-yellow-001: #ffcf08;
$colorful-yellow-002: #dbab00;
$colorful-green-001: #31726f;
$colorful-green-002: #0d7a6c;
$colorful-red-001: #eb4626;
$colorful-blue-001: #bee3eb;
$colorful-blue-002: #e0f2f9;
$colorful-purple-001: #070038;

$transparent: rgb(29 29 29 / 50%);
$transparent-2: rgb(255 255 255 / 15%);
$fontBase: var(--font-base);
$fontTitle: 'Proto Grotesk', sans-serif;
$size-4: 4px;
$size-8: 8px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-20: 20px;
$size-24: 24px;
$size-28: 28px;
$size-32: 32px;
$size-40: 40px;
$size-48: 48px;
$size-52: 52px;
$size-56: 56px;
$size-64: 64px;
$size-80: 80px;
$size-112: 112px;

//animation
$transition200: 200ms ease-out;
$transition300: 300ms ease-out;
