@use 'styles/variable' as *;

.filters {
  margin: 12px 0;
}

.form {
  display: flex;
  gap: 12px;
}

.input {
  padding: 10px 12px;

  font-size: 16px;

  border: 1px solid $neutral-grey-003;
  border-radius: 8px;

  background-color: #000;
  color: #fff;
}
